*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

## IntelliJ
*.iml
.idea
.idea_modules

## eclipse
.cache
.classpath
.project
.settings

## Mac stuff
.DS_Store

## build files
dist/*
project/boot/
project/plugins/project/
target/

.lib

src/test/resources/pacts
temp
